.contenedor{
    background-color:#FFFFFF;
    border:1px solid black;
    width: 60%;
    }


.contenedor:after{
	content:"";
    clear:both;
    display: block;

    }    


.caja {
	height: 100px;
	width: 25%;
	float: left;
	}

.amarilla {
	background-color:#FFFF0A;
    }	

.azul{
    background-color:#2E6CAC;
    
    }

.roja{
    background-color:#E60041;

     } /* Pon tu código css aqui */